@font-face {
  font-display: swap;
  font-family: "cirka";
  src: url("../fonts/NeueHaasDisplayMediu.woff") format("woff");
}

.title-uzi {
  /* grid-area: 1 / 1 / 2 / 2; */

  grid-area: 1 / 1 / 3 / 3;
  font-size: 12vw;
  margin: 0;
  font-family: cirka, sans-serif;
  font-weight: 600;
  justify-self: center;
  align-self: center;
  position: relative;
  z-index: 1;
  color: rgb(216, 152, 216);
  pointer-events: none;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: start;
  text-rendering: optimizeSpeed;
  text-transform: uppercase;
}

.preloader {
  position: fixed;
  display: grid;
  z-index: 1000000;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  /* background-color: var(--color-bg); */
  opacity: 1;
  grid-template-columns: 1fr 1fr;
  transform-origin: center;
  grid-template-rows: 1fr;
}

.noscroll {
  overflow: hidden;
  height: 100vh;
}

.gallery__item {
  position: absolute;

  margin: 0;
  display: grid;
  grid-template-areas: "gallery-image";
  grid-template-columns: 100%;
  height: 130px;
  width: 100px;
}

.gallery__item-img {
  grid-area: gallery-image;
  width: 100%;
  /* z-index: 2; */
  overflow: hidden;
  position: relative;
  will-change: transform, opacity;
  transform: translateZ(0);
}

.gallery__item:nth-of-type(1) {
  top: 10%;
  left: 10%;
}

.gallery__item:nth-of-type(2) {
  top: 20%;
  right: 10%;
}

.gallery__item:nth-of-type(3) {
  bottom: 20%;
  left: 10%;
}

.gallery__item:nth-of-type(4) {
  bottom: 10%;
  right: 10%;
}

.gallery__item-imginner {
  height: 100%;
  background-size: cover;
}

.overlay__row:first-child {
  transform-origin: 0% 100%;
  grid-column: 1/2;
  grid-row: 1/2;
}

.overlay__row:nth-child(2) {
  transform-origin: 100% 0%;
  grid-column: 2/3;
  grid-row: 1/2;
}

.overlay__row {
  position: relative;
  background: var(--color-black);
  transform: scaleY(1);
  will-change: transform;
}
.menu-image0 {
  background-image: url("../img/works/22.jpg") !important;
  background-size: cover;
}

.menu-image1 {
  background-image: url("../img/works/12.jpg") !important;
  background-size: cover;
}
.menu-image2 {
  background-image: url("../img/works/13.jpg") !important;
  background-size: cover;
}
.menu-image3 {
  background-image: url("../img/works/16.jpg") !important;
  background-size: cover;
}

.dark-toggle {
  stroke: var(--color-black);
  position: absolute;
  left: 48vw;
  bottom: 20px;
  height: 40px;
  width: 65px;
}
.knob {
  stroke: var(--color-white);
}
/* backdrop-filter: blur(5px) brightness(.95);
background: rgb(250 250 250 / 55%); */
