*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  margin: 0;
  --cursor-stroke: #000;
  --cursor-fill: none;
  --cursor-stroke-width: 1px;
  --hot-tomato: #ff3227;
  line-height: 1;
  font-weight: 300;
  overflow-x: hidden;
  /* overflow-y: scroll; */
}

.oh {
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  html {
    overflow-x: hidden;
  }
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover {
  color: var(--color-link-hover);
  outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
  /* Provide a fallback style for browsers
	 that don't support :focus-visible */
  outline: none;
  background: lightgrey;
}

a:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
  background: transparent;
}

a:focus-visible {
  /* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
  outline: 2px solid red;
  background: transparent;
}

.unbutton {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
}

.unbutton:focus {
  outline: none;
}

.works {
  padding: 3rem 2rem;
  z-index: 3;
  position: relative;
  background-color: var(--color-bg);
}

.frame {
  position: relative;
}

.heading {
  font-family: var(--font-1), sans-serif;
  font-weight: 300;
  font-size: 6vw;
  font-size: clamp(2rem, 6vw, 5rem);
  line-height: 1.1;
}

.heading .splitting .word,
.heading .splitting .char {
  display: flex;
}

.char-wrap {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.char {
  display: inline-block;
  will-change: transform;
}

.heading > span {
  display: flex;
}

.heading > span:first-child {
  /* font-size: 8vw; */
  /* /* font-size: clamp(2rem, 14vw, 9rem); */
  font-size: clamp(2rem, 8vw, 9rem);
}

.heading > span:nth-child(2) {
  margin-top: -2vw;
  text-transform: lowercase;
}

.item {
  margin: 15vh 0 20vh;
}
.items {
  counter-reset: projectcounter;
}

.item__imgwrap,
.content__imgwrap {
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 325px;
  will-change: transform;
  border-radius: 40px;
}

.item__img,
.content__img {
  width: 100%;
  height: 100%;
  min-height: 325px;
  background-size: cover;
  background-position: 50% 50%;
  will-change: transform;
}

.item__meta {
  margin: 0.85rem 0 2rem;
  line-height: 1.3;
  font-size: 0.67rem;
  text-transform: uppercase;
  font-weight: 500;
  overflow: hidden;
}

.item__meta-row {
  display: block;
  position: relative;
  overflow: hidden;
}

.item__meta-row span {
  display: block;
  will-change: transform;
}

.item__enter {
  display: none;
  will-change: transform;
}

.item__enter-circle {
  fill: none;
  stroke: var(--color-black);
  stroke-width: 1px;
  will-change: transform, opacity;
}

.item__excerpt {
  line-height: 1.2;
  will-change: transform;
  display: grid;
  justify-content: center;
  align-content: center;
}

.item__excerpt-link {
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: var(--color-black);
  font-weight: 500;
  line-height: 1;
  overflow: hidden;
}

.item__excerpt-link span {
  display: inline-block;
  padding-bottom: 10px;
  position: relative;
}

.item__excerpt-link span::after {
  content: "";
  width: 100%;
  height: 2px;
  top: calc(100% - 10px);
  position: absolute;
  left: 0;
  background: var(--color-black);
  transition: transform 0.2s;
  transform-origin: 100% 0;
}

.item__excerpt-link span:hover::after {
  transform: scale3d(0, 1, 1);
}

.content {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 2000;
  pointer-events: none;
}

.content .heading {
  margin-bottom: 5rem;
  font-size: 10vw;
  font-size: clamp(2rem, 10vw, 6rem);
}

.content .heading > span:first-child {
  font-size: 14vw;
  font-size: clamp(2rem, 14vw, 10rem);
}

.content__article {
  height: 0;
  overflow: hidden;
  background: var(--color-bg);
}

.content__article--open {
  pointer-events: auto;
  padding: 0 0 20vh;
  height: 100%;
  overflow-y: scroll;
}

.content__article .heading {
  text-align: center;
  grid-area: proje-head;
  margin: 10px;
  font-family: var(--font-1);
}

.content__text {
  padding: 0 3rem;
  line-height: 1.2;
  margin: 0 auto;
  /* max-width: 65ch; */
  will-change: transform;
  grid-area: proje-details;
}

.content__text p {
  margin: 1.5rem 0;
}
.landing-font {
  font-family: var(--font-2);
  font-size: 0.9rem;
}

.case-no {
  grid-area: case-no;
  font-family: var(--font-2);
  place-content: end;
  display: flex;
}

.project-image {
  grid-area: proje-image;
  margin: 5rem 0;
  display: block;
  min-height: 200px;
  overflow: hidden;
  max-height: 600px;
  border-radius: 30px;
}
.project-image img {
  object-fit: cover;
  width: 100%;
  /* border-radius: 30px; */
  display: block;
}

.content__back {
  position: absolute;
  top: 2rem;
  left: 2rem;
  opacity: 0;
  /* grid-area: backbutton;
  opacity: 1; */
  cursor: pointer;
  /* display: grid;
  place-content: flex-start; */
}
.content__back svg {
  height: 35px;
}
.content__back path {
  stroke: var(--color-black);
  stroke-width: 2px;
}

.project-task {
  display: flex;
  flex-direction: column;
  grid-area: proje-task;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0 20px;
}
.project-role {
  display: flex;
  flex-direction: column;
  grid-area: proje-role;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0 20px;
}

.content-works {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-template-areas:
    "backbutton ... ... case-no"
    "proje-head proje-head proje-head proje-head"
    "proje-task proje-task proje-role proje-role"
    "proje-image proje-image proje-image proje-image"
    "proje-details proje-details proje-details proje-details";
  padding: 10px 50px;
}

.content__article--open ~ .content__back {
  pointer-events: auto;
}

@media screen and (max-width: 996px) and (min-width: 768px) {
  .item {
    position: relative;
    display: grid;
    grid-template-areas:
      "heading heading heading heading"
      "image image image enter"
      "meta meta excerpt ... ";
    /* '... ... excerpt ...'; */
    /* grid-template-columns: 1fr auto 360px 1fr; */
    grid-template-columns: auto;
    grid-template-rows: minmax(200px, 25vh) minmax(380px, 30vh) auto;
  }
  .item::before {
    position: absolute;
  }
  .item--invert {
    grid-template-areas:
      "heading heading heading heading"
      "enter image image image"
      "meta meta meta meta"
      "... ... excerpt ...";
    grid-template-columns: 1fr auto 360px 1fr;
  }
  .item__imgwrap {
    grid-area: image;
  }
  .item__img {
    width: 100%;
    height: 100%;
  }
  .item__enter {
    align-self: center;
    justify-self: center;
    display: flex;
    grid-area: enter;
    position: relative;
    z-index: 1000;
    max-width: 400px;
    max-height: 400px;
    align-items: center;
    justify-content: center;
  }
  .item__enter-circle {
    pointer-events: none;
    cursor: pointer;
    flex: none;
  }
  .item__meta {
    grid-area: meta;
  }
  .item--invert .item__meta {
    justify-self: end;
    text-align: right;
  }
  .item__excerpt {
    grid-area: excerpt;
  }
  .item__excerpt p {
    margin: 0 0 1.5rem;
  }
  .heading > span {
    justify-content: center;
  }
  .heading--item {
    margin: 0;
    /* grid-area: 1 / 1 / 2 / 5; */
    grid-area: heading;
    justify-self: center;
    align-self: self-start;
    text-align: center;
  }
}

@media screen and (min-width: 997px) {
  .item {
    position: relative;
    display: grid;
    grid-template-areas:
      "... heading heading heading heading"
      "... image image image enter"
      "... meta meta excerpt ... ";
    /* '... ... excerpt ...'; */
    grid-template-columns: 70px 1fr auto 360px 1fr;
    grid-template-rows: minmax(200px, 25vh) minmax(380px, 30vh) auto;
  }
  .item::before {
    position: absolute;
  }
  .item--invert {
    grid-template-areas:
      "heading heading heading heading ..."
      "enter image image image ..."
      "... ... excerpt meta ...";
    /* "... ... excerpt ... ..."; */
    grid-template-columns: 1fr auto 360px 1fr 70px;
  }
  .item__imgwrap {
    grid-area: image;
  }
  .item__img {
    width: 100%;
    height: 100%;
  }
  .item__enter {
    align-self: center;
    justify-self: center;
    display: flex;
    grid-area: enter;
    position: relative;
    z-index: 1000;
    max-width: 400px;
    max-height: 400px;
    align-items: center;
    justify-content: center;
  }
  .item__enter-circle {
    pointer-events: none;
    cursor: pointer;
    flex: none;
  }
  .item__meta {
    grid-area: meta;
  }
  .item--invert .item__meta {
    justify-self: end;
    text-align: right;
  }
  .item__excerpt {
    grid-area: excerpt;
  }
  .item__excerpt p {
    margin: 0 0 1.5rem;
  }
  .heading > span {
    justify-content: center;
  }
  .heading--item {
    margin: 0;
    /* grid-area: 1 / 1 / 2 / 5; */
    grid-area: heading;
    justify-self: center;
    align-self: self-start;
    text-align: center;
  }
}

.section__header {
  display: flex;
  border-bottom: 1px solid var(--color-black);
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 4vh 8vw;
  margin-bottom: 4rem;
  position: relative;
}
.section__year {
  color: var(--color-text-alt);
}
.section__title--medium {
  font-size: clamp(1.5rem, 12vw, 9rem);
}

.section__title {
  font-family: inherit;
  font-weight: 300;
  /* font-size: clamp(2rem, 17vw, 12.5rem); */
  font-size: clamp(1.5rem, 12vw, 9rem);

  margin: 5vh 0 6vh;
  line-height: 0.9;
  text-transform: uppercase;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

@media (any-pointer: fine) {
  .cursor-round {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    pointer-events: none;
    z-index: 5000;
  }

  .cursor__inner {
    fill: var(--cursor-fill);
    stroke: var(--color-black);
    stroke-width: var(--cursor-stroke-width);
    opacity: 0.7;
  }
}

.viewcase {
  position: absolute;
  top: 48%;
  left: 45%;
  display: block;
  pointer-events: none;
  color: var(--color-black);
}
.hidden-explore {
  display: none;
  opacity: 0;
  position: absolute;
  top: 48%;
  left: 45%;
  /* display: block; */
  pointer-events: none;
}

.item::before {
  counter-increment: projectcounter;
  content: counters(projectcounter, ".", decimal-leading-zero);
  /* position: absolute; */
  left: 0;
  color: var(--color-black);
  border-left: 3px solid currentColor;
  top: 0%;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  line-height: 1;
  opacity: 1;
  font-weight: 200;
  font-size: clamp(1rem, 10px, 1.5rem);
  transform: translateX(-1rem);
  transition: transform 0.3s, opacity 0.3s;
}

@media (max-width: 366px) {
  .item__imgwrap,
  .content__imgwrap {
    min-height: 225px;
  }

  .item__img,
  .content__img {
    min-height: 225px;
  }
  .l4__right .div {
    width: 68%;
    height: 84%;
  }
}

.content__text {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "aim solution"
    "how  achieved";
}

.project-aim {
  grid-area: aim;
}
.project-sol {
  grid-area: solution;
}

.main-aim {
  font-size: 35px;
  margin-top: 1.5rem;
}
.mid-font p {
  font-size: 1.2rem;
}
.how-solution {
  grid-area: how;
}
.achieved-solution {
  grid-area: achieved;
}

@media screen and (max-width: 815px) {
  .content__text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 60px 1fr 60px 1fr;
    grid-template-areas:
      "aim"
      "solution"
      "how"
      "achieved";
  }
  .content-works {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
    grid-template-areas:
      "backbutton ... case-no case-no"
      "proje-head proje-head proje-head proje-head"
      "proje-image proje-image proje-image proje-image"
      "proje-task proje-task proje-task proje-task "
      "proje-role proje-role proje-role proje-role"
      "proje-details proje-details proje-details proje-details";
    padding: 10px 50px;
  }
  .project-task {
    font-weight: 300;
  }
  .project-role {
    font-weight: 300;
  }
  .project-image {
    margin: 10px 0;
  }
}

@media screen and (max-width: 570px) {
  .content__text {
    padding: 0;
  }
}

/* .project-image img {
  mask-image: url(https://tuxkarma.co/wp-content/themes/karma/img/formes/1b.svg);
  -webkit-mask-image: url(https://tuxkarma.co/wp-content/themes/karma/img/formes/1b.svg);
  mask-repeat: no-repeat;
} */

/* .project-image img {
  mask-image: url(https://i.postimg.cc/kgBSj8Zz/Masquerade.png);
  mask-repeat: no-repeat;
  -webkit-mask-image: url(https://i.postimg.cc/kgBSj8Zz/Masquerade.png);
  -webkit-mask-repeat: no-repeat;
} */
.innerImg .innerMask {
  display: block;
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}
.inset,
.introRond svg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
